<h1><%= @sound.username %></h1>
<h3><%= @sound.full_name %></h3>

<% @sound.tracks.each do |track| %>
		<%= raw(track.widget) %>
<% end %>

<% @photos.each do |photo| %>
	<img src=" <%= photo %> ">
<% end %>